<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <title>Guia perguntas</title>
</head>
<body>
  






</body>
<script src="/public/js/bootstrap.js"></script>

</html>