<%- include ('partials/header.ejs') %>



    <div class="container">



<div class="accordion accordion-flush" id="accordionFlushExample">
  
   <% perguntas.forEach(pergunta => { %>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        <%= pergunta.titulo %>
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body"><%= pergunta.descricao %></div>
    </div>
  </div>
 <% }); %>  

</div>

    











       


    </div>









<%- include ('partials/footer.ejs') %>