<%- include ('partials/header.ejs')   %>
<body>
    <div class="container">
        <!-- aula 12 -->
        <div id="formulario-pergunta" class="card">
            <div class="card-header">
                <h3>Realizar perguntas</h3>
            </div>
           
            <div class="card-body">
            
                 <form method="POST" action="/salvarPerguntas">
                    <label>Titulo</label>
                    <br>
                    <input name="titulo" class="form-control" type="text" placeholder="Titulo da pergunta">
                    <br>
                    <label>Descrição</label>
                    <textarea name="descricao" class="form-control" cols="30" placeholder="Escreva sua pergunta"></textarea>
                    <br>
                    <button class="btn btn-primary">Perguntar!</button>
                 </form>
            </div>
        </div>



      
        

    </div>




</body>
<%- include ('partials/footer.ejs')   %>